@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

.fade-leave-active {
  transition: all .3s;
}

.fade-enter-active {
  transition: all .3s;
  transition-delay: .3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.delayFade-leave-active {
  transition: all .3s;
  transition-delay: 1s;
}

.delayFade-enter-active {
  transition: all .3s;
}

.delayFade-enter-from,
.delayFade-leave-to {
  opacity: 0;
}

.delayFade-enter-to,
.delayFade-leave-from {
  opacity: 1;
}


.slide-leave-active {
  transition: all 0.5s cubic-bezier(1,-0.41,0,1.5);
}

.slide-enter-active {
  transition: all 0.5s cubic-bezier(1,-0.41,0,1.5);
  transition-delay: 0.3s;
}

.slide-enter-to {
  position: absolute;
  right: 0;
}

.slide-enter-from {
  position: absolute;
  right: -100%;
}

.slide-leave-to {
  position: absolute;
  left: -100%;
}

.slide-leave-from {
  position: absolute;
  left: 0;
}


.scale-leave-active {
  transition: all 0.5s ease;
}

.scale-enter-active {
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
